<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<title>Forgot Email</title>
</head>
</head>

<body>

	<section>
		<div class="signup-form justify-content-center container">
			<div class="d-flex justify-content-center">
				<div class="card shadow-lg p-2">
					<div class="card-header heading">
						<h2>Fill to Recover Your Passwword</h2>
					</div>
					<div class="card-body">

						<form th:action="@{/send-otp}" method="post">


							<div class="form-group input-group d-flex flex-column">
								<!-- message box -->
								<div th:if="${session.message}" class="container">
									<div clas="alert alert-danger my-2 text-center" role="alert">
										<span th:text="${session.message}"></span>
									</div>
									<th:block th:text="${#session.removeAttribute('message')}"></th:block>
								</div>
								<!-- message box closed -->
							</div>

							<div class="form-group input-group d-flex flex-column">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-envelope"></i>
									</span>
									<input type="email" class="form-control"
										placeholder="Enter registered email address" name="username" required>
								</div>
							</div>



							<div class="d-flex justify-content-center">
								<button type="submit" class="btn bg-warning text-white">Send OTP</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>