<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<title>Home</title>

</head>
<body>
<section>
		<div class="signup-form justify-content-center container">
			<div class="d-flex justify-content-center">
				<div class="card shadow-lg p-2">
					<div class="card-header heading">
						<h2>Create Account</h2>
						<h5>Fill the form to register</h5>
					</div>
					<div class="card-body">
						<form action="" th:action="@{/dologin}" method="post" th:object="${customer}">
							<!-- message box -->
					<div th:if="${session.message}" class="container">
						<div clas="alert alert-danger my-2 text-center" role="alert">
							<span th:text="${session.message}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<!-- message box closed -->
							<div class="form-group input-group d-flex flex-column">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-user"></i>
									</span>

									<input type="email" class="form-control" name="username" placeholder="Enter User Name"
										required>
								</div>
							</div>

							<div class="form-group input-group d-flex flex-column">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-key"></i>
									</span>
									<input type="password" placeholder="Enter the Password" class="form-control"
										name="password" required>
								</div>
							</div>
							<div class="d-flex justify-content-center">							
								<button type="submit" class="btn btn-danger m-2">LogIn</button>
								<button type="reset" class="btn btn-warning text-white m-2">Reset</button>
								
							</div>
						</form>
						<div class="card-footer">
							<div class="text-center small footer">Don't have an account? <a th:href="@{/signup/}">SignUp</a>
							</div>
							<div class="text-center small footer">Forgot Password? <a th:href="@{/forgot}">Click Here</a>
							</div>
						</div>
						
					</div>

	</section>
	</body>